<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#### Tools for data science

Introduction to the Jupyter notebook interface

## Data Science Langauage
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
     <li>C++</li>
     <li>Ruby</li>
</ol>

## Data Science libraries in python
<ol>
    <li>Numpy </li>
    <li>pandas</li>
    <li>Sklearn</li>
    <li>Matplotlib</li>
     <li>Seaborn</li>
</ol>

## Data Science tools
<ol>
    <li>Data Management Tools:MySQL,PostgreSQL,MongoDB</li>
   <li> Data Integration and Transformation Tools:Apache Airflow,Apache Kafka.</li>
    <li>GitHub</li>
    <li>Jupyter Notebooks and R studio</li>
    </ol>

## Arithmetic Operations
###### We can easily perform arithmetic operations by using simple arithmetic operations
###### a=5
###### b=4
###### c=a+b
######  we will get output as 9

##### arithmetic operations example:

In [2]:
a=5
b=4
c=a+b
d=a*b

In [16]:
c/d

0.45

In [3]:
c

9

In [4]:
d

20

In [13]:
minutes=65
# this will return the hours value only and will not return remaining minuter
hours=minutes//60
minutes=minutes%60

In [14]:
hours,minutes

(1, 5)

## Data Science libraries in python
* Python
* R
* Scala
* SQL
* Hadoop

#### Nisha